__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.DS_Store
.pytest_cache/
.mypy_cache/

.venv/
venv/
.vscode/

build/
dist/
log/
*.whl

Pose_Estimation_Model/model/__pycache__/
Pose_Estimation_Model/provider/__pycache__/
Pose_Estimation_Model/utils/__pycache__/
Pose_Estimation_Model/__pycache__/

Pose_Estimation_Model/model/pointnet2/build/
Pose_Estimation_Model/model/pointnet2/dist/
Pose_Estimation_Model/model/pointnet2/*.egg-info/
Pose_Estimation_Model/model/causal-conv1d/build/

kernels/selective_scan/build/
kernels/selective_scan/*.egg-info/

dwconv/build/

Data/
!Data/README.md
!Data/Example/
!Data/Example/**

checkpoints/*.pth
Pose_Estimation_Model/checkpoints/*.pth
